<a href="https://colab.research.google.com/github/devarshi167/Netflix-movies-and-TV-shows-clustering/blob/main/Copy_of_Copy_of_Sample_ML_Submission_Template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    - NETFLIX MOVIES AND TV SHOWS CLUSTERING

##### **Project Type**    - Unsupervised ML

#### **Contribution**    - Team


##### **Team Member 1 -**Devarshi Dwivedi
##### **Team Member 2 -**Jay Pardesi
##### **Team Member 3 -**Priyadarshini Gaikwad
##### **Team Member 4 -**Samarjeet Singh

# **Project Summary -**

Netflix, Inc. is an American subscription video on-demand over-the-top streaming service and production company based in Los Gatos, California. Founded in 1997 by Reed Hastings and Marc Randolph in Scotts Valley, California, it offers a film and television series library through distribution deals as well as its own productions, known as Netflix Originals.

For further details, visit [Netflix Help Center](https://help.netflix.com/en/node/412)

We will be exploring the dataset further to draw insights.

# **GitHub Link -**

[Netflix-movies-and-TV-shows-clustering](https://github.com/devarshi167Netflix-movies-and-TV-shows-clustering)

# **Problem Statement**

This dataset consists of tv shows and movies available on Netflix as of 2019. The dataset is collected from Flixable which is a third-party Netflix search engine.

In 2018, they released an interesting report which shows that the number of TV shows on Netflix has nearly tripled since 2010. The streaming service’s number of movies has decreased by more than 2,000 titles since 2010, while its number of TV shows has nearly tripled. It will be interesting to explore what all other insights can be obtained from the same dataset.

Integrating this dataset with other external datasets such as IMDB ratings, rotten tomatoes can also provide many interesting findings.

# **In this project, we are required to perform the following-**

1. Exploratory Data Analysis

2. Understanding what type content is available in different countries

3. Is Netflix has increasingly focusing on TV rather than movies in recent years.

4. Clustering similar content by matching text-based features

# **Dataset Description-**

* show_id : Unique ID for every Movie / Tv Show

* type : Identifier - A Movie or TV Show

* title : Title of the Movie / Tv Show

* director : Director of the Movie

* cast : Actors involved in the movie / show

* country : Country where the movie / show was produced

* date_added : Date it was added on Netflix

* release_year : Actual Releaseyear of the movie / show

* rating : TV Rating of the movie / show

* duration : Total Duration - in minutes or number of seasons

* listed_in : Genere

* description: The Summary description

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [ ]:
# Import Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from string import punctuation
from collections import Counter
import nltk
nltk.download('punkt')
nltk.download('stopwords')
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import metrics

In [ ]:
# library used for Analyzing and Visualization purpose
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Word Cloud library
from wordcloud import WordCloud, STOPWORDS

# library used for textual data prerocessing
import string
string.punctuation
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.stem.snowball import SnowballStemmer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import PCA

# library used for Clusters impelementation
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.cluster import AgglomerativeClustering
import scipy.cluster.hierarchy as shc


from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
# Warnings library. Would help to throw away warnings caused.
import warnings
warnings.filterwarnings('ignore')

### Dataset Loading

In [ ]:
# Load Dataset
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
file_path = '/content/drive/MyDrive/NETFLIX MOVIES AND TV SHOWS CLUSTERING ML Capstone project- Devarshi Dwivedi/NETFLIX MOVIES AND TV SHOWS CLUSTERING.csv'
df = pd.read_csv(file_path)

### Dataset First View

In [ ]:
df.head()

In [ ]:
df.tail()

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count
df.shape

### Dataset Information

In [ ]:
# Dataset Info
df.info()

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count
df[df.duplicated()].sum()

In [ ]:
df.duplicated(subset=['title']).value_counts()

#### Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count
df.isna().sum()

In [ ]:
# Visualizing the missing values
plt.figure(figsize=(15,7))
sns.heatmap(df.isna(), yticklabels = False)
plt.xlabel('Column Name')
plt.title('Null values', fontweight = 'bold', size =18)
plt.show()

### What did you know about your dataset?

* There are total 7787 rows and 12 columns in this dataset. 
* All columns are of object data type except the release_year which is of int type.
* There are no duplicate value in this data set but there are many null values present in this dataset 
* Columns with null values are director, cast, country, date_added and rating

## ***2. Understanding Your Variables***

In [ ]:
# Dataset Columns
df.columns

In [ ]:
# Dataset Describe
df.describe()

### Variables Description

There is only one int type column in this dataset which is realease_year with total count : 7787, min : 1925, max : 2021, 50% : 2017, mean : 2013.9

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.
df['show_id'].unique()

In [ ]:
df['type'].unique()

In [ ]:
df['title'].unique()

In [ ]:
df['director'].unique()

In [ ]:
df['cast'].unique()

In [ ]:
df['country'].unique()

In [ ]:
df['date_added'].unique()

In [ ]:
df['release_year'].unique()

In [ ]:
df['rating'].unique()

In [ ]:
df['duration'].unique()

In [ ]:
df['listed_in'].unique()

In [ ]:
df['description'].unique()

## 3. ***Data Wrangling***

### Null Values Treatment

In [ ]:
#Replacing missing values in 'director' column with Not Mention
df['director'].replace(np.nan, 'Not Mention', inplace = True)

#Replacing missing values in 'cast' column with Not Mention
df['cast'].replace(np.nan, 'Not Mention', inplace = True)

#Replacing missing values in 'country' column with mode
df['country']= df['country'].fillna(df['country'].mode()[0])

#Replacing missing values in 'rating' column with value most frequent rating i.e. mode
df['rating'] = df['rating'].fillna(df['rating'].mode()[0])

# Dropping the null values in 'date_added'
df = df[df['date_added'].notna()]

In [ ]:
df.info()

In [ ]:
# Converting into a date-time format
df['date_added'] = pd.to_datetime(df['date_added'])

# Adding new column year added to get year in which movie is added to netflix
df['year_added'] = df['date_added'].dt.year
df['year_added'].astype(int)

In [ ]:
# Renaming the ‘listed_in’ feature to the genre for easy use.
df = df.rename(columns={"listed_in":"genere"})
df['genere'] = df['genere'].apply(lambda x: x.split(",")[0])

In [ ]:
df['genere'].unique()

In [ ]:
df.head()

In [ ]:
df.info()

### What all manipulations have you done and insights you found?

* Replaced missing values in 'director' and 'cast' column with Not Mention.
* Replaced missing values in 'country' and 'rating' column with mode.
* Dropped the null values in 'date_added'.
* 'date_added' column coverted into datetime dtyape and also added new column called 'year_added'.
* renamed 'listed_in' column to 'genere' and splited it for getting genere for easy use of info.

## ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables***

In [ ]:
# Plotting Pie Chart between the TV- Shows and Movies of Netflix Dataset.
plt.figure(figsize = (10,6))
content = ['TV Show','Movie']
plt.pie(df['type'].value_counts().sort_values(), labels = content,autopct='%1.2f%%',shadow=True)
plt.title('Type of Netflix Content',fontweight='bold')
plt.axis('equal')
plt.show()

* **There are more Movies on Netflix than TV Shows**

In [ ]:
# text documents
text = " ".join(word for word in df['title'])

# create the word cloud
wordcloud = WordCloud(stopwords=STOPWORDS).generate(text)

# plot the word cloud
plt.imshow(wordcloud,  interpolation='bilinear')
plt.axis("off")
plt.show()

Words like Christmas, Love, World, Man, Story are very common in movie title column.

In [ ]:
fig,ax = plt.subplots(1,2, figsize=(18,6))
plt.suptitle('Top 10 country with the highest number of movie/shows', weight='bold', size=15, y=1.01)

# univariate analysis
df['country'].value_counts().nlargest(10).plot(kind='barh', ax=ax[0]) #sns.countplot(x="country", data=df, order=df['country'].value_counts().index[0:10], ax=ax[0])

# bivariate analysis
graph = sns.countplot(x="country", data=df, hue='type', order=df['country'].value_counts().index[0:10], ax=ax[1])
plt.xticks(rotation=90)
for p in graph.patches:  #adding value count on the top of bar
   graph.annotate(format(p.get_height(), '.0f'), (p.get_x(), p.get_height()))

plt.tight_layout()
plt.show()

The highest number of movies / TV shows were based out of the US, followed by India and UK.

In [ ]:
# Finding number of movies and TV shows
plt.figure(figsize=(10,6))
p = sns.countplot(df.type)
plt.title("Count of Movies and TV Shows")
#plt.xlabel("Type (Movie/TV Show)")
plt.ylabel("Total Count")
plt.show()

In [ ]:
# Counting number of movies and TV shows with respect to year_added
df_tv = df[df['type'] == 'TV Show']
df_movies = df[df['type'] == 'Movie']
year_df = df.year_added.value_counts().to_frame().reset_index().rename(columns={"index": "year", "year_added":"count"}).sort_values(by=['year'])
movies_year_df = df_movies.year_added.value_counts().to_frame().reset_index().rename(columns={"index": "year", "year_added":"count"}).sort_values(by=['year'])
shows_year_df = df_tv.year_added.value_counts().to_frame().reset_index().rename(columns={"index": "year", "year_added":"count"}).sort_values(by=['year'])
year_df.sort_values(by=['year'])

* **We can see that after consistently increase in number of count till year 2019-2020 there is sudden drop in year 2021 due to COVID.**

In [ ]:
# text documents
text = " ".join(word for word in df['description'])

# create the word cloud
wordcloud = WordCloud(stopwords=STOPWORDS).generate(text)

# plot the word cloud
plt.imshow(wordcloud,  interpolation='bilinear')
plt.axis("off")
plt.show()

Most of the common words present in description column are family, find, life, love, new, world, friend etc.

In [ ]:
# Plotting the plot for Top 10 Country on Netflix.

df['top_country']=df['country'].apply(lambda x:x.split(',')[0])
plt.figure(figsize = (10,6))
ax = sns.countplot(x='top_country', data=df,order=df['top_country'].value_counts().index[:10])
plt.title('Top 10 Countries on Netflix',fontweight='bold')
plt.xlabel('country',fontweight='bold',fontsize=12)
plt.ylabel('counts',fontweight='bold',fontsize=10)
plt.show()

* **US is at top about content on Netflix followed by India and UK respectivly.**

In [ ]:
#Number of TV Shows VS Movies content in top 10 countries with maximum content

fig = plt.figure(figsize=(12,6))
ax = sns.countplot(y='top_country',data=df,hue='type',order=df['top_country'].value_counts().index[:10])
plt.ylabel('Country',fontweight='bold')
plt.title("Number of TV Shows and Movies in top 10 countries",fontweight="bold")
plt.show()

* **Most of the countries have more movies than TV shows, But you can see that for South Korea and Japan it's the opposite. It maybe because KDramas are more popular in S Korea and Anime are more popular in Japan.**

In [ ]:
#Rating based on Rating System of all the movies

movie_ratings = df_movies.groupby(['rating'])['show_id'].count().reset_index(name='count').sort_values(by='count',ascending=False)
fig_s = (10,6)
fig, ax = plt.subplots(figsize = fig_s)
sns.pointplot(x='rating',y='count',data=movie_ratings)
plt.title('Top Movie Ratings Based On Rating System',size='18',fontweight='bold')
plt.show()

In [ ]:
fig,ax = plt.subplots(1,2, figsize=(18,6))

# Univariate analysis
hist = sns.histplot(df['release_year'], ax=ax[0])
hist.set_title('distribution by released year', size=15)

# Bivariate analysis
count = sns.countplot(x="release_year", hue='type', data=df, order=df['release_year'].value_counts().index[0:15], ax=ax[1])
count.set_title('movie/shows release in top 15 year', size=15)
plt.xticks(rotation=90)
for p in count.patches:  #adding value count on the top of bar
   count.annotate(format(p.get_height(), '.0f'), (p.get_x(), p.get_height()))

plt.tight_layout()
plt.show()

 
1. Netflix has greater number of new movies / TV shows than the old ones.
2. Highest number of movie/shows are released in netflix in between 2015-2020 and highest number of count comes from 2018.

* **Most number of movies rated TV-MA i.e. Adult Rating**

In [ ]:
#Rating based on Rating System of all the TV Shows
shows_ratings=df_tv.groupby(['rating'])['show_id'].count().reset_index(name='count').sort_values(by='count',ascending=False)
fig,ax=plt.subplots(figsize=(14,7))
sns.pointplot(x='rating',y='count',data=shows_ratings)
plt.title('Top TV Shows Ratings Based on Rating System',size='20',fontweight='bold')
plt.show()

* **Most number of TV Shows rated TV-MA i.e. Adult Rating**

In [ ]:
direc=df.copy()
#removing unknown 
direc=direc[df['director']!='Not Mention']

# Top 10 director whose content is available in netflix

plt.figure(figsize = (14,6))
sns.countplot(y='director',data=direc,order=direc.director.value_counts().head(10).index,palette='cubehelix')
plt.title('Director with most movies/shows',fontweight="bold")
plt.show()

* **Raul Campos and Jan Sulter collectively have the most content on Netflix followed by Marcus and Jay respectivly.**

In [ ]:
#getting plot for top actors

#splitting into list
df['cast_name'] = df['cast'].apply(lambda x :  x.split(',')) 
cast_count = []

#count movies for each actor
for i in df['cast_name']: cast_count += i
    
cast_dict = dict((i, cast_count.count(i)) for i in cast_count)

df_cast_count = pd.DataFrame(cast_dict.values(),cast_dict.keys()).reset_index().sort_values(0,ascending=False).rename(
    columns = {'index' : 'cast_name', 0 : 'count'}).iloc[1:11]
plt.figure(figsize=(15,5))
sns.barplot(y='cast_name',x='count',data=df_cast_count,palette="viridis")
plt.title("Top 10 ACTORS on Netflix",size='16',fontweight="bold")
plt.xlabel('Cast Name')
plt.show()

* **Anupam Kher Have the most number of films on Netflix followed by Takahiro Sakurai And Shah Rukh Khan.**

In [ ]:
#Analysing how many movies released per year in last 10 years
plt.figure(figsize=(14,6))
plt.title('ANALYSIS ON RELEASE YEAR OF MOVIES IN LAST 10 YEARS', fontsize=15, fontweight='bold')
sns.countplot(x=df_movies['release_year'],data=df_movies,order=df_movies['release_year'].value_counts().index[0:10],palette='viridis')

In [ ]:
#Analysing how many TV SHOWS released per year in last 10 years
plt.figure(figsize=(14,6))
plt.title('ANALYSIS ON RELEASE YEAR OF TV SHOWS IN LAST 10 YEARS', fontsize=15, fontweight='bold')
sns.countplot(x=df_tv['release_year'],data=df_tv,order=df_tv['release_year'].value_counts().index[0:10],palette="viridis")

In [ ]:
#Top 10 genres on Netflix

plt.figure(figsize=(10,6))
ax = sns.countplot(y=df['genere'], order=df['genere'].value_counts().index[:10],palette='viridis')
plt.title('Top 10 genere on Netflix', fontweight='bold')

* **Drama is the most popular genre followed by comedy on Netflix.**

###**Originally Uploaded on Netflix:**
* some movies and TV shows were actually released in the past and they were added later on Netflix.
* But some movies and TV shows were released on Netflix itself. Named those as Netflix Originals.


Originals: For which released year and added year is same.

In [ ]:
#Creating new feature as originals having values Yes and No.
df['originals'] = np.where(df['release_year']==df['year_added'], 'Yes', 'No')

In [ ]:
plt.figure(figsize = (10,6))
plt.pie(df['originals'].value_counts().sort_values(), labels= ['Others', 'Originals'],autopct='%1.2f%%',shadow=True)
plt.title('Netflix Original',fontweight='bold')
plt.axis('equal')
plt.show()

* **Through this plot we can say that 63.67% content is Netflix original.**

## ***5. Hypothesis Testing***

### **Is Netflix has increasingly focusing on TV rather than movies in recent years?**

Hypothesis Testing to check is there is any relation between year_added and type:

* *Null Hypothesis:* year_added has no impact on type of content that gets added to the platform.
* *Alternative Hypothesis:* year_added has impact on type of content that gets added to the platform.

In [ ]:
hypo_data = pd.crosstab(df['type'], df['year_added'], margins=False)
hypo_data

In [ ]:
from scipy.stats import chisquare
from scipy.stats import chi2_contingency
chi2_contingency(hypo_data)

* The p value is smaller than significance level , we will reject the null hypothesis and accept the alternative hypothesis.

## ***Text Pre-processing***

In [ ]:
# import important libraries for text preprocessing
from sklearn import preprocessing
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split, KFold
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer

In [ ]:
#  Function to remove punctuations

def remove_punctuation(text):
    '''a function for removing punctuation'''

    import string
    
    # replacing the punctuations with no space, 
    # which in effect deletes the punctuation marks 
    translator = str.maketrans('', '', string.punctuation)
    # return the text stripped of punctuation marks
    return text.translate(translator)

In [ ]:
# Applying the function to remove punctuations
df['description'] = df['description'].apply(remove_punctuation)

# Applying the function to remove punctuations
df['genere'] = df['genere'].apply(remove_punctuation)

In [ ]:
#importing natural language tool kit
import nltk
from nltk.corpus import stopwords
nltk.download("stopwords")

In [ ]:
# extracting the stopwords from nltk library
sw = stopwords.words('english')

# Function to remove stopwords 
def stopwords(text):
    '''a function for removing the stopword'''
    # removing the stop words and lowercasing the selected words
    text = [word.lower() for word in text.split() if word.lower() not in sw]
    # joining the list of words with space separator
    return " ".join(text)

In [ ]:
# Applying the stopword function
df['description'] = df['description'].apply(stopwords)

# Applying the stopword function
df['genere'] = df['genere'].apply(stopwords)

**Stemming**

In [ ]:
# create an object of stemming function
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english")

def stemming(text):    
    '''a function which stems each word in the given text'''
    text = [stemmer.stem(word) for word in text.split()]
    return " ".join(text)

In [ ]:
# stemming for description
df['description'] = df['description'].apply(stemming)

In [ ]:
# Create a function to display text length
def length(text):    
    '''a function which returns the length of text'''
    return len(text)

In [ ]:
# Create two variables for description and listed-in texts length respectively
df['desc_length'] = df['description'].apply(length)
df['genere_length'] = df['genere'].apply(length)

In [ ]:
# Create a dataframe with variables indicating text lengths only
cluster_df=df.filter(['desc_length','genere_length'],axis=1)
cluster_df.head(2)

In [ ]:
# Standardizing value to generalise
X_features_rec_mon=df[['desc_length','genere_length']]
scaler_rec_mon=preprocessing.StandardScaler()
X_rec_mon=scaler_rec_mon.fit_transform(X_features_rec_mon)
X=X_rec_mon

* **Our text is preprocessed and ready for algorithms to be applied.**

## ***Implementing K-means***

In [ ]:
from sklearn.metrics import silhouette_score
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score

**Finding Optimum Numbers of Clusters using Elbow Method**

In [ ]:
# Create a list
list_1 = []

# for loop to append kmeans inertia values
for k in range(1,10):
    kmeans = KMeans(n_clusters=k)
    kmeans.fit(X)
    list_1.append(kmeans.inertia_)

#Plot linegraph
plt.figure(figsize=(10,6))

plt.plot(range(1,10),list_1,"-o")
plt.grid(True)
plt.xlabel("Number of Clusters(k)",fontsize=12)
plt.ylabel("Sum of Square Distances",fontsize=12)
plt.title("Elbow Method For Optimal k",fontsize=14)
plt.xticks(range(1,10))
plt.tight_layout()

In the above plot, the elbow is at k=3, indicating the optimal k for this dataset is 3. Let us visualise our data for different values of clusters , say 2,3,4,5,6,7,8 , for better understanding.

In [ ]:
v=2
for i in (2,3,4,5,6,7,8):
  kmeans = KMeans(n_clusters=i)
  kmeans.fit(X)
  y_kmeans= kmeans.predict(X)
  plt.figure(figsize=(15,10))
  n =v+1
   
  plt.scatter(X[:, 0], X[:, 1], c=y_kmeans, s=50, )

  centers = kmeans.cluster_centers_
  plt.scatter(centers[:, 0], centers[:, 1], c='red', s=200, alpha=0.5)
  plt.title(("Silhouette analysis for KMeans clustering on sample data "
                  "with n_clusters = %d" % i),
                 fontsize=14, fontweight='bold')

**Silhouette scores of different clusters :**

In [ ]:
# Calculate silhoutte score for K-means

range_n_clusters = [2,3,4,5,6,7,8]
for n_clusters in range_n_clusters:
    clusterer = KMeans(n_clusters=n_clusters)
    preds = clusterer.fit_predict(X)
    centers = clusterer.cluster_centers_

    score = silhouette_score(X, preds)
    print("\nFor n_clusters = {}, silhouette score is {}".format(n_clusters, score))

We had already seen earlier that k=3 was optimum for k-means clusterning. and from this score we can see that cluster 7,6,4 are also giving good silhouette score

##**Heirarchial clustring**

In [ ]:
# Using the dendogram to find the optimal number of clusters
import scipy.cluster.hierarchy as sch
sns.set_style("whitegrid")
plt.figure(figsize=(13,8))
dendrogram = sch.dendrogram(sch.linkage(X, method = 'ward'))
plt.title('Dendrogram')
plt.xlabel('Content')
plt.ylabel('Euclidean Distances')
plt.show() # find largest vertical distance we can make without crossing any other horizontal line

The number of clusters will be the number of vertical lines which are being intersected by the line drawn using the threshold

No. of Cluster = 3

In [ ]:
# Fitting hierarchical clustering to the dataset
from sklearn.cluster import AgglomerativeClustering
hc = AgglomerativeClustering(n_clusters = 3, affinity = 'euclidean', linkage = 'ward')
y_hc = hc.fit_predict(X)

In [ ]:
# Visualizing the clusters 
plt.figure(figsize=(13,8))
plt.scatter(X[y_hc == 0, 0], X[y_hc == 0, 1], s = 100, c = 'red', label = '1')
plt.scatter(X[y_hc == 1, 0], X[y_hc == 1, 1], s = 100, c = 'blue', label = '2')
plt.scatter(X[y_hc == 2, 0], X[y_hc == 2, 1], s = 100, c = 'green', label = '3')


plt.title('Clusters of content')

plt.legend()
plt.show()

In [ ]:
# Calculate silhoutte score for HAC( Hierarichal Agglomerative Clustering)
from sklearn.cluster import AgglomerativeClustering
hac_clusters = [2,3,4,5,6,7,8]
for n_clusters in hac_clusters:
    clusterer = AgglomerativeClustering(n_clusters=n_clusters)
    preds = clusterer.fit_predict(X)

    score = silhouette_score(X, preds)
    print("\nFor n_clusters = {}, silhouette score is {}".format(n_clusters, score))

# **Conclusion**

* There are about 69.14% movies and 30.86% TV shows on Netflix.

* The United States has the highest number of content on Netflix by a huge margin followed by India.

* Raul Campos and Jan Sulter collectively have directed the most content on Netflix.

* Anupam Kher has acted in the highest number of films on Netflix.

* Drama is the most popular genre followed by comedy.

* The number of releases have significantly increased after 2015 and have dropped in 2021 because of Covid 19.

* NULL HYPOTHESIS -The number of TV shows on Netflix have tripled and The p value is smaller than significance level. (REJECTED)

* By using Sillhouette's score and Elbow method , we saw that the elbow is at k=3, indicating the optimal k for this dataset is 3 and cluster 7,6 have also giving good silhouette score.

* In both the cases, one cluster accounts more than 3000 points whereas in other clusters the points were unevenly distributed. 3.For Tfidf K Means is best for identification than Hierarchical as the evaluation metrics also indicates the same.